.ipynb_checkpoints/
.idea/
_static/
_templates/
__pycache__/
_minted-report/
latex-output/
*.synctex.gz
.DS_Store

/data/processed/
/data/raw/
docs/_build/

/notebooks/progression.gif
/notebooks/movie.mp4
/notebooks/runs/
notebooks/results/
